:host {
  display: block;
  margin-top: 1rem;
}

mat-spinner {
  display: block;
  margin: 0 auto;
}

mat-accordion {
  width: 80%;
  margin: 20px auto;
}

mat-expansion-panel-header {
  background-color: #f2f2f2;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

mat-expansion-panel-header:hover {
  background-color: #e0e0e0;
}

mat-expansion-panel {
  margin-bottom: 10px;
}

mat-action-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}

mat-action-row a,
mat-action-row button {
  margin-left: 10px;
}

.info-text {
  margin-top: 20px;
  text-align: center;
}
